//USER VARIABLES


$fontsize: 16px; // Body Font Size
$stdborder: 1px solid #E6ECEF;
$lineheight: 1.5em; // Document Line Height
$userfont:  Poppins, sans-serif;

// colors
$accent: #1193FF;
$accent1: #057AE3;
$secondary: #0A508B;
$bodybg: #E5E8ED;
$white: #FFFFFF;
$black: #000000;
$border: #E6ECEF;
$placeholder: #868A8D;
$darkestgray: #212229;
$darkred: #B0263D;
$btndisabled: #C2CBD1;
$textcolor: #868A8D;
$error: #df1a41;
$success: #3f9e5b;